ion-navbar {
	.decline {
		color:#C0392B;
	}
	.join {
		color:#27AE60;
	}
	.bar-button {
		img {
			height: 26px;
		    margin-left: 5px;
		    margin-right: 5px;
		}
	}
}
ion-content {
	ion-icon {
		color:#3498DB;
	}
}
.place {
	float:right;
	ion-icon {
		margin-left:5px;
	}
}
.time,
.user {
	display:inline-block;
	margin-bottom:5px;
	ion-icon {
		margin-right:5px;
	}
}
.description {
	text-align:left;
	margin:20px 0 40px;
}
.agenda {
	.item {
		padding:0;
		.item-inner {
			padding-right: 0;
			ion-label {
				margin-right:0;
				font-size:12px;
				white-space: normal;
				border-bottom:1px solid #cecece;
				padding-bottom:10px;
				.voting-button {
				    height: 32px;
					padding:8px;
					font-size:14px;
					background:#3498DB;
					color:#fff;
				}
				.yes-votes {
					float:right;
					ion-icon {
						color:#fff;
						margin-right:5px;
					}
				}
				.no-votes {
					float:left;
					ion-icon {
						color:#fff;
						margin-left:5px;
					}
				}
				.no-votes {
					text-align:right;
				}
				.length {
					position:absolute;
					right:5px;
					top:5px;
					ion-icon {
						margin-left:5px;
					}
				}
				p {
					padding:10px;
				}
			}
		}
	}
	.agenda-form {
		border-bottom:1px solid #cecece;
		button {
		}
	}
	
}

.participants {
	.role {
		float:right;
		font-size:10px;
	}
}