.calendar-event {
	padding-top:5px;
	margin-bottom: 20px;

	.title {
		font-weight:bold;
		text-decoration:underline;
		margin-top:0!important;
	}
	.description {
		height:50px;
		margin:10px 0;
		overflow:hidden;
	}
	ion-icon {
		color:#3498DB;
	}
	.user-status {
		position:absolute;
		right:5px;
		top:5px;
		img {
			width:40px;
		}
	}
	.time,
	.place {
		font-size:12px;
	}
	.time {
		float:left;
		ion-icon {
			margin-right:5px;
		}
	}
	.place {
		float:right;
		ion-icon {
			margin-left:5px;
		}
	}
}